<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="logDirectory" value="${basedir}/../Logs/${date:format=MM-yyyy}"/>
  <variable name="messageLayout" value="${longdate} ${uppercase:${level}} ${callsite} ${message} ${exception:format=tostring}"/>
  <targets async="true">
    <target name="errorfile" xsi:type="File" fileName="${logDirectory}/CEC.Web.SRV-${shortdate}.log" layout="${messageLayout}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>