@model CEC.Web.SRV.Models.Conflict.PollingStationListModel

<div class="allAddress">
    @Html.EditorFor(x => x.PollingStationId) 
</div>

<script type="text/javascript">
    $('.allAddress .rsa-form-group > div.col-sm-2').removeClass('col-sm-2').addClass('col-sm-3');
</script>