@using CEC.Web.SRV.Resources

<h4>
    Secția de votare selectată nu poate avea o adresă!
</h4>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
</div>