<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="AmdarisConnectionStringSAISE"
       connectionString="Data Source=.;Initial Catalog=SAISE;Integrated Security=True;Pooling=False;Application Name=CEC.SAISE.EDayModule"
       providerName="System.Data.SqlClient" />
</connectionStrings>