<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="passwordSoapBinding" />
                <binding name="CecSoapBinding" />
                <binding name="ClassifierSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.17.145.14:8080/password/services/password"
                binding="basicHttpBinding" bindingConfiguration="passwordSoapBinding"
                contract="RspPasswordService.Password" name="password" />
            <endpoint address="http://172.17.145.14:8080/cec/services/Cec"
                binding="basicHttpBinding" bindingConfiguration="CecSoapBinding"
                contract="RspCecService.Cec" name="Cec" />
            <endpoint address="http://172.17.145.14:8080/classifier/services/Classifier"
                binding="basicHttpBinding" bindingConfiguration="ClassifierSoapBinding"
                contract="RspClassifierService.Classifier" name="Classifier" />
        </client>
    </system.serviceModel>
</configuration>