@{
    ViewBag.Title = "Print";
    var templateNameId = ViewBag.TemplateNameId;
    var printTemplateMapping = CEC.SAISE.EDayModule.Helpers.PrintTemplateNameMappings.GetMappings();
}

@if (printTemplateMapping.ContainsKey(templateNameId))
{
    string partialViewName = printTemplateMapping[templateNameId];

    @Html.Partial("~/Views/Documents/PrintTemplates/" + partialViewName + ".cshtml")
}
else
{
    <p>No template found for the given TemplateNameId.</p>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
        integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

<script src="~/Scripts/document-reports-validation.js"></script>
<script src="~/Scripts/ViewModel/DelimitatorVM.js"></script>
<script src="~/Scripts/document-print-properties.js"></script>
<script src="~/Scripts/document-print-custom-styles.js"></script>
<script src="~/Scripts/document-print-templates.js"></script>