<div class="alert alert-danger">
    <p>
        Atenție! Activitatea secției de votare este suspendată.
        <a href="@Url.Action("Index")">Apăsați pentru verificarea activării.</a>
    </p>
</div>
