<div class="modal fade" id="signatureExpirationDialog" data-backdrop="static" style="top: 100px">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h4>Timpul pentru captarea semnăturii a expirat!</h4>
                <h4>Începeți din nou.</h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default accept-signature-expiration-btn">OK</button>
            </div>
        </div>
    </div>
</div>
