<div class="alert alert-danger">
    <p>
        Atenție! Funcționalitatea 'Prezența la Vot' nu este activată.
        <a href="@Url.Action("Index")">Apăsați pentru verificarea activării.</a>
    </p>
</div>
