<?xml version="1.0"?>
<quartz>
  <add key="quartz.scheduler.instanceName" value="ServerScheduler" />
  <add key="quartz.scheduler.proxy" value="true" />
  <add key="quartz.threadPool.threadCount" value="0" />
  <add key="quartz.scheduler.proxy.address" value="tcp://localhost:555/QuartzScheduler" />
</quartz>
