  <CEC.Web.SRV.Properties.Settings>
    <setting name="AuthExpiration" serializeAs="String">
      <value>14:00:00</value>
    </setting>
    <setting name="SessionPollingTimeSpan" serializeAs="String">
      <value>00:00:05</value>
    </setting>
    <setting name="IdleTimeSpan" serializeAs="String">
      <value>00:30:00</value>
    </setting>
    <setting name="RS_SRV_StayStatementForm" serializeAs="String">
      <value>/SRV/StayStatementForm</value>
    </setting>
    <setting name="RS_SRV_VotersList_ReportPath" serializeAs="String">
      <value>/SRV/VotersList_Verification</value>
    </setting>
    <setting name="RspUser" serializeAs="String">
      <value>cecuser</value>
    </setting>
    <setting name="RspPass" serializeAs="String">
      <value>cecuser</value>
    </setting>
    <setting name="RS_SRV_PSBordersReport" serializeAs="String">
      <value>/SRV/PollingStationsBorders2</value>
    </setting>
    <setting name="ExportTempFolder" serializeAs="String">
      <value>e:\temp\export</value>
    </setting>
  </CEC.Web.SRV.Properties.Settings>
