@if (!ViewData.ModelMetadata.HideSurroundingHtml)
{
    <div class="rsa-form-group">
        @RenderSection("Data")
        <div class="has-error">
            @Html.ValidationMessage("", new { @class = "help-block" })
        </div>
    </div>
}
else
{
    @RenderSection("Data")
}