@using CEC.Web.SRV.Infrastructure.Grids
@using CEC.Web.SRV.Models.History
@using CEC.Web.SRV.Resources
@using Lib.Web.Mvc.JQuery.JqGrid
@model long

@{
    var grid = Html.GridOptions<LookupHistoryGridModel>("electionTypeHistory", width: 800)
        .BuildGrid(Url.Action("ListElectionTypeHistoryAjax", new {id = Model}),columnChooser:false,showFilterToolbar:false)
		.Navigator(new JqGridNavigatorOptions { Add = false, Edit = false, Delete = false, Search = false });
}

<div class="clearfix">
    @grid.GetHtml()
</div>

<script type="text/javascript">
    $(document).ready(function () {
        @grid.GetJavaScript();
        $('.modal-content').attr('style', 'width:840px;');
    });
</script>