@{
    ViewBag.Title = "Principala";
}

<div class="well">
    <h4 class="page-header">Bun venit în SIASA</h4>

    <div class="alert alert-success">
        <h5>Aveți drepturi de Administrator</h5>
    </div>
</div>


