@using CEC.Web.SRV.Resources
@{
    ViewBag.Title = "About";
	ViewBag.Title = MUI.Home_About;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
